<?xml version="1.0" encoding="utf-8" ?>
<Movielist>
  <Config>
    <FileEndings>
      <Ending>avi</Ending>
      <Ending>mpg</Ending>
      <Ending>mpeg</Ending>
      <Ending>mkv</Ending>
      <Ending>mp4</Ending>
    </FileEndings>
    <Tags>
      <Tag id="DE">Deutsch</Tag>
      <Tag id="EN">Englisch</Tag>
      <Tag id="SD">Standard Definition Quality</Tag>
    </Tags>
  </Config>
</Movielist>