<?xml version="1.0" encoding="utf-8" ?>
<Movielist>
  <Config>
    <Extensions>
      <Extension>avi</Extension>
      <Extension>mpg</Extension>
      <Extension>mpeg</Extension>
      <Extension>mkv</Extension>
      <Extension>mp4</Extension>
    </Extensions>
    <Tags>
      <Tag id="DE">Deutsch</Tag>
      <Tag id="EN">Englisch</Tag>
      <Tag id="SD">Standard Definition Quality</Tag>
    </Tags>
  </Config>
</Movielist>